.glyphicon.red {
	cursor:pointer;
	&:hover{
		color: red;

	}
}
.request{
	width: 50%;
	float:left;
	padding: 15px 30px 15px 30px;
	.request-inner{
		border: 1px solid #dfe2e5;
	}
	.request-header{
		padding: 25px 25px 0 25px;
		overflow: hidden;
		.request-autor-img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			float: left;
			margin-right: 10px;
			img {
				max-width: 100%;
			}
		}
		.request-autor-name{
			float: left;
			line-height: 45px;
			color: #b4b7c6;
		}
		.request-date{
			float: right;
			text-transform: uppercase;
			background-color: #f8f9fe;
			padding: 6px 12px;
			border-radius:12px;
			font-size: 12px;
			font-weight: bold;
			color: #aeb2c1;
		}
	}
	.request-body{
		padding:  18px 25px;
		color: #6b6f81;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.9px;
	}
	.request-footer{
		background-color: #fbfcfe;
		border-top: 1px solid #f2f3f7;
		padding: 10px 25px;
		overflow: hidden;
		.delete {
			float: right;
			color: #b4b7c6;
			cursor: pointer;
		}
	}
}
.request:nth-child(2n){
	padding-left : 0;
}
.request-list {
	overflow: hidden;
}

.sub-header.request-page {
	border: none;
	min-height: 80px;
}
.form-block {
	padding: 27px;
	background-color: #fff;
	border-radius: 4px;
	border: 2px solid #F1F2F4;
	margin-bottom: 25px;
}
.text-area {
	border: 2px solid #F1F2F4;
	border-radius: 4px;
	width: 100%;
	resize: none;
	height: 100px;
}
.requests-block {
	background-color: #fff;
	border-radius: 4px;
	border: 2px solid #F1F2F4;
}
.request-tabs  {
	
}
.request-form{
	overflow: hidden;
	padding: 10px 30px;
	.text-area {
	margin-bottom: 10px;
	}
	h2{
		margin: 0 0 10px 0;
		font-size:21px;
	}
}
.request-tabs  ul{
	&.nav-tabs{
		background-color: #eff6f6;
		padding-left: 30px;
		padding-right: 10px;
		padding-top: 5px;
		margin-bottom: 15px;
	}
	li {
		margin-bottom: -2px !important;
		&.active, &:focus {
			margin-right: 40px;
			a {
				border: 0px;
				background-color: #eff6f6;
				font-size: 14px;
				padding: 10px 0;
				color: #588386;
				&:hover, &:focus {
					border: 0 !important;
					background-color: #eff6f6;
				}
			}
			margin-bottom: 0px;
			border: 0;
			border-bottom: 2px solid #1F97EE !important;
			margin-bottom: -2px !important;
		}
		margin-bottom: 0px;
		border: 0;
		
		a { 
			border: 0;
			color: #B9BFCA;
			font-size: 14px;
				padding: 10px 0;
			&:hover {
				color: #588386;
				background-color: #eff6f6;
				border-bottom: 2px solid #1F97EE !important;
			}
			
		}
	}
	li.active:nth-child(2n) {
		margin-left: 40px;
	}
}
.request-avtor-img {
	border-radius :50%;
	overflow:hidden;
	width: 100px;
	height: 100px;
	float:left;
	margin-right: 20px;
	img {
		width: 100%;
	}
}
.request-main-info {
	margin: -20px 120px -20px 120px;
	border-left: 1px solid #F1F2F4;
	height: 140px;
	.req-user-info{
		padding-top:15px;
		padding-left:20px;
		background-color: #fafbfc;
		margin-bottom: 0px;
		border-bottom: 1px solid #F1F2F4;
		.date-request {
			display: inline-block;
			margin-bottom: 5px;
		}
	}
}
.req-buttons {
	float: right;
	width: 120px;
	padding-left: 20px;
	border-left: 1px solid #F1F2F4;
	height: 100px;
	.delete {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		font-size: 12px;
		background-color:#de3c1f;
		color: #fff;
		&:hover{
			color: #fff;
		};
	}
	.edit {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100%;
		font-size: 12px;
		margin-bottom: 20px;
		color: #fff;
		background-color:#1f96ee;
		&:hover{
			color: #fff;
		};
	}
}
.req-text {
	color: #7c8ca5;
	font-size: 13px;
	font-style: italic;
	padding: 20px 20px 10px 20px; 
}
.req-user-name {
	font-size: 16px;
	color: #354052;
	margin-bottom: 5px;
	margin-top: 0;
	font-weight: 500;
}
.my-request {
	padding: 17px 27px;
	border: 1px solid #F1F2F4;
	overflow: hidden;
	margin: 10px 0;
	
	.date-request {
		color: #7c8ca5;
		font-size: 11px;
		i {
			display: inline-block;
			margin-right: 4px;
		}
	}
}


.request-block {
	overflow:hidden;
	border: 1px solid #dfe2e5;
	.req-user-name{
		font-size: 21px;
	}
	.request-header{
		overflow:hidden;
		width:35%;
		float:left;
		background-color : #fff;
		padding: 19px 30px;
		
		.request-autor{
			width: 40px;
			height: 40px;
			overflow:hidden;
			float: left;
			border-radius: 50%;
			img {
				width: 100%;
			}
		}
		.request-autor-info {
			float:left;
			margin-left: 18px;
		}
	}
	.date-request {
		color: #7c8ca5;
		font-size: 11px;
		display: block;
		margin-bottom: 20px;
		i {
			display: inline-block;
			margin-right: 4px;
		}
	}
	.request-body {
		float:left;
		width:65%;
		height: 140px;
		padding: 25px 30px;
		border-left: 1px solid #dfe2e5;
		background-color: #fafbfc;
		.titleForContacs{
			margin: 15px 0;
		}
		.request-text{
			padding: 0 30px 25px 30px;
			margin: 0 -30px;
			font-size: 16px;
			font-style: italic;
			color: #354052;
		}

		
	}
}
.my-answer {
	background-color: #fff;
	margin-top:20px;
	.contact-card {
		margin-left: 0
	}
	.contact-card:nth(3n){
		margin-right : 0;
	}
}
.no-answers{
	width: 100%;
	text-align: center;
}
.edit-block{
	padding-top: 20px;
	font-size: 12px;
	color:#c0c7c7;
	span {
		cursor: pointer;
		margin-right: 20px;
		&:hover{
			color: #337ab7;
		}
	}
}
.modal-body .list-contacts  {
	overflow-y: scroll;
	max-height: calc(100vh - 340px);
	display: block;
	width: 100%;
	margin-top: 0px;
}
.filterInput {
	margin-top: 15px;
}