<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head >
	<meta charset="UTF-8">
	<title>Document</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="public/scripts/bootstrap.min.css" >
	<!-- Optional theme -->
	<link rel="stylesheet" href="public/scripts/bootstrap-theme.min.css" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700&amp;subset=cyrillic-ext" rel="stylesheet">
<!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<!-- Latest compiled and minified JavaScript -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
	<link href="public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<nav class="main-menu "  ng-controller="NavigationController">
  <div>
 
    <div ng-hide="user" style="float: right">
        <input type="text" ng-model="login.email">
        <input type="password" ng-model="login.password">
        <button ng-click="logUserIn()">Login</button>
        <a ui-sref="signUp">Create User</a>
    </div>
    <div class="user-block">
      <span ng-click="logUserOut()" ng-show="user"  class="">Log out</span>
      <span ui-sref="profile">{{user.name}} @</span>
    </div>
     <a href="#" class="logo">Profee</a>
  </div>
</nav>
<div class="main-block">
  <div class="columns">
    <div class="left-menu">
      <div class="left-menu-item">
        <a ui-sref="requests">
          <p></i>Requests</p>
        </a>
      </div>
      <div class="left-menu-item">
        <a ui-sref="contacts">
          <p>Contacts</p>
        </a>
      </div>
      <div class="left-menu-item">
        <a ui-sref="friends">
          <p>Friends</p>
        </a>
      </div>
       <div class="left-menu-item">
        <a ui-sref="worker(user._id)">
          <p>Page for user</p>
        </a>
      </div>
      <div class="left-menu-item">
        <a ui-sref="workerAdmin">
          <p>Admin</p>
        </a>
      </div>
    </div>
    <div class="main-content">
      <div ui-view></div>
    </div>
    <div class="right-block"></div>
  </div>
</div>
	
</body>
<script src="public/scripts/angular.min.js"></script>
<script type="text/javascript" src="public/scripts/angular-ui-router.js"></script>
<script type="text/javascript" src="public/scripts/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="public/scripts/ui-bootstrap-tpls.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-messages.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js"></script> -->
<script src="/public/app.js"></script>
<script src="/public/controllers/main.controller.js"></script>
<script type="text/javascript" src="public/signup/signup-controller.js"></script>
<script type="text/javascript" src="public/navigation/navigation-controller.js"></script>
<script type="text/javascript" src="public/contacts/contacts-list.controller.js"></script>
<script type="text/javascript" src="public/contacts/contact-details.controller.js"></script>
<script type="text/javascript" src="public/friends/friend-list.controller.js"></script>
<script type="text/javascript" src="public/friends/friend.controller.js"></script>
<script type="text/javascript" src="public/requests/requests-controller.js"></script>
<script type="text/javascript" src="public/requests/request.controller.js"></script>
<script type="text/javascript" src="public/profile/profile.controller.js"></script>
<script type="text/javascript" src="public/workers/worker.controller.js"></script>
<script type="text/javascript" src="public/workers/worker-admin.controller.js"></script>
<script type="text/javascript" src="public/controllers/modal.controller.js"></script>
<script type="text/javascript" src="public/controllers/modal-request.controller.js"></script>
<script type="text/javascript" src="public/controllers/modal-edit-request.controller.js"></script>
<script type="text/javascript" src="public/common/services/user-service.js"></script>
<script type="text/javascript" src="public/common/services/modal-service.js"></script>
</html>