<nav class="main-menu "  ng-controller="NavigationController">
  <div class="header-user">
    <div class="user-header-image">
      <img src="../public/images/vectorpaint1.png" alt="">
    </div>
    <span uib-dropdown on-toggle="toggled(open)" class="user-block">
      <a href id="simple-dropdown" uib-dropdown-toggle >
       {{user.name || user.email}}<i class="caret"></i>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <a ui-sref="main.profile">Профайл</a>
          
        </li>
        <li><a ng-click="logUserOut()">Выйти</a></li>
      </ul>
    </span>
  </div>
  <form ng-submit="goToSearch()" class="header-search" >
    <input type="text"  placeholder="Search" ng-model="query">
    <button type="submit"></button>
  </form>
  <a href="#" class="logo"></a>
</nav>
<!-- main Block -->
<div class="main-block">
  <div class="columns">
    <div class="left-menu">
      <div ng-show="user.role == 'customer'">
        <div class="left-menu-item">
          <a ui-sref="main.feed">
            <p></i>Feeds</p>
          </a>
        </div>
        <div class="left-menu-item">
          <a ui-sref="main.requests">
            <p></i>Requests</p>
          </a>
        </div>
        <div class="left-menu-item">
          <a ui-sref="main.contacts">
            <p>Contacts</p>
          </a>
        </div>
        <div class="left-menu-item">
          <a ui-sref="main.friends">
            <p>Friends</p>
          </a>
        </div>
         <div class="left-menu-item">
          <a ui-sref="main.messages">
            <p>Messages</p>
          </a>
        </div>
      </div>
      <div ng-show="user.type == 'Worker'">
          <div class="left-menu-item">
            <a ui-sref="main.worker">
              <p>Worker</p>
            </a>
          </div>
          <div class="left-menu-item">
            <a ui-sref="main.workerAdmin">
              <p>Admin</p>
            </a>
          </div>
      </div>
    </div>
    <div class="main-content">
      <div ui-view></div>
    </div>
    <div class="right-block"></div>
  </div>
</div>