<nav class="main-menu "  ng-controller="NavigationController">
  <div class="header-user">
    <div class="user-header-image">
      <img ng-src="{{user.smallImg}}" alt="">
    </div>
    <span uib-dropdown on-toggle="toggled(open)" class="user-block">
      <a href id="simple-dropdown" uib-dropdown-toggle >
       {{user.name || user.email}}<i class="caret"></i>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <a ui-sref="main.profile">Профайл</a>
          
        </li>
        <li><a ng-click="logUserOut()">Выйти</a></li>
      </ul>
    </span>
  </div>
  <form ng-submit="goToSearch()" class="header-search" >
    <input type="text"  placeholder="Search" ng-model="query">
    <button type="submit"></button>
  </form>
  <a href="#" class="logo"></a>
</nav>
<!-- main Block -->
<div class="main-block">
  <div class="columns">
    <div class="left-menu">
      <div ng-show="user.role == 'customer'">
       <!--  <div class="left-menu-item">
         <a ui-sref="main.feed">
           <p><i class="fa fa-certificate" aria-hidden="true"></i> &#160; Обновления</p>
         </a>
       </div> -->
        <div class="left-menu-item">
          <a ui-sref="main.requests" ng-class="{ active: isActive('/main/requests')}">
            <p><!-- <i class="fa fa-share-square" aria-hidden="true"></i>  &#160;  -->Рекомендации <span class="bage-menu">{{friendsRequestsCount}}</span></p>
          </a>
        </div>
        <div class="left-menu-item">
          <a ui-sref="main.categories"  ng-class="{ active: isActive('/main/categories')}">
            <p><!-- <i class="fa fa-address-card" aria-hidden="true"></i>  &#160; --> Специалисты</p>
          </a>
        </div>
        <div class="left-menu-item">
          <a ui-sref="main.friends"  ng-class="{ active: isActive('/main/friends')}">
            <p><!-- <i class="fa fa-users" aria-hidden="true"></i> &#160;  -->Друзья</p>
          </a>
        </div>
       
       <!--   <div class="left-menu-item">
        <a ui-sref="main.messages">
          <p><i class="fa fa-envelope" aria-hidden="true"></i>  &#160; Messages</p>
        </a>
               </div> -->
      </div>
      <div ng-show="user.role == 'worker'">
          <div class="left-menu-item">
            <a ui-sref="main.worker">
              <p>Worker</p>
            </a>
          </div>
           <div class="left-menu-item">
          <a ui-sref="main.workerProfile">
            <p><i class="fa" aria-hidden="true"></i> &#160; Профиль</p>
          </a>
        </div>
          <div class="left-menu-item">
            <a ui-sref="main.workerAdmin">
              <p>Admin</p>
            </a>
          </div>
      </div>
    </div>
    <div class="main-content">
      <div ui-view></div>
    </div>
  </div>
</div>