.main-menu {
	height: 70px;
	border-bottom: 1px solid #dfe2e5;
}
.left-menu-item a{
	color:#727679;
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
	margin-left: 25px;
}
.logo {
	text-decoration: none;
	line-height: 70px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 30px;
	display: block;
	color: #354052;
	width: 400px;
	float:left;
	&:hover {
		color: #354052;
		text-decoration: none;
	}
}
.user-block {
	float:right;
}