.inner-profile {
	background: #fff;
	padding: 30px;
	.user-img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		overflow: hidden;
		border: 8px solid #eff3f6;
		img {
			height: 100%;
			margin-left: -7px;
		}
	}
	.user-info-block{
		margin-left: 20px;
	}
}