.main-menu {
  height: 70px;
  border-bottom: 1px solid #dfe2e5; }

.left-menu-item a {
  color: #727679;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  margin-left: 25px; }

.logo {
  text-decoration: none;
  line-height: 70px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 30px;
  display: block;
  color: #354052;
  width: 400px;
  float: left; }
  .logo:hover {
    color: #354052;
    text-decoration: none; }

.header-user {
  padding: 15px 30px 0 0;
  float: right; }
  .header-user .user-header-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
    float: left; }
    .header-user .user-header-image img {
      height: 100%;
      margin-left: -2px; }
  .header-user .user-block {
    float: left;
    color: #2399f1;
    margin: 10px 5px 0 10px; }
    .header-user .user-block .dropdown-menu {
      right: 0 !important;
      left: auto;
      top: 160%; }

.header-search {
  float: right;
  margin: 17px 25px 0 0; }
  .header-search input {
    margin: 0;
    height: 36px;
    width: 270px;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    font-size: 14px;
    color: #354052;
    line-height: 19px; }

.left-menu {
  width: 250px;
  border-right: 1px solid #dfe2e5;
  padding-top: 35px; }

.main-block {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.columns {
  display: flex;
  flex: 1; }

.sub-header {
  height: 50px;
  border-bottom: 1px solid #dfe2e5;
  padding-left: 30px;
  overflow: hidden; }
  .sub-header .counts {
    color: #BFC4D0;
    line-height: 50px;
    float: left; }
  .sub-header .add-new {
    float: right;
    margin-top: 8px; }

.friends-list {
  border: 1px solid #F1F2F4;
  border-radius: 4px;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  list-style: none; }
  .friends-list li {
    padding: 7px;
    border-bottom: 1px solid #F1F2F4;
    overflow: hidden; }
    .friends-list li img {
      width: 70px;
      float: left; }
    .friends-list li .info {
      float: left;
      padding-left: 30px;
      padding-top: 15px; }
    .friends-list li .name {
      color: #4B5262;
      font-weight: bold;
      margin-bottom: 3px; }
    .friends-list li .phone {
      color: #ACB3BD;
      font-size: 12px; }

.form-block {
  padding: 27px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #F1F2F4;
  margin-bottom: 25px; }

.text-area {
  border: 2px solid #F1F2F4;
  border-radius: 4px;
  width: 100%;
  resize: none;
  height: 100px; }

.requests-block {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #F1F2F4; }

.request-tabs ul.nav-tabs {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px; }

.request-tabs ul li {
  margin-bottom: 0px;
  border: 0; }
  .request-tabs ul li.active, .request-tabs ul li:focus {
    margin-bottom: 0px;
    border: 0;
    border-bottom: 2px solid #1F97EE !important;
    margin-bottom: -1px !important; }
    .request-tabs ul li.active a, .request-tabs ul li:focus a {
      border: 0px; }
      .request-tabs ul li.active a:hover, .request-tabs ul li.active a:focus, .request-tabs ul li:focus a:hover, .request-tabs ul li:focus a:focus {
        border: 0 !important; }
  .request-tabs ul li a {
    border: 0;
    color: #B9BFCA; }
    .request-tabs ul li a:hover {
      background-color: #fff;
      border: 0; }

.my-request {
  padding: 17px 27px;
  border: 1px solid #F1F2F4; }
  .my-request h3 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 3px; }
  .my-request .date-request {
    color: #B9BFCA;
    font-size: 13px; }
    .my-request .date-request i {
      display: inline-block;
      margin-right: 4px; }

.request-block {
  border: 1px solid #dfe2e5; }
  .request-block .request-header {
    overflow: hidden;
    background-color: #fff;
    padding: 19px 30px;
    border-bottom: 1px solid #dfe2e5; }
    .request-block .request-header h4 {
      margin: 0;
      font-size: 16px;
      color: #354052; }
    .request-block .request-header .request-autor {
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      border-radius: 50%; }
      .request-block .request-header .request-autor img {
        width: 100%; }
    .request-block .request-header .request-autor-info {
      float: left;
      margin-left: 18px; }
  .request-block .request-body {
    padding: 25px 30px;
    background-color: #fafbfc; }
    .request-block .request-body .titleForContacs {
      margin: 15px 0; }
    .request-block .request-body .request-text {
      padding: 0 30px 25px 30px;
      margin: 0 -30px;
      border-bottom: 1px solid #dfe2e5;
      font-size: 14px;
      color: #354052; }
    .request-block .request-body .contact-card {
      padding: 10px 30px;
      flex: 0 1 49%;
      margin: 0; }
      .request-block .request-body .contact-card .header-card .image-block {
        width: 40px;
        height: 40px; }
      .request-block .request-body .contact-card .card-title {
        float: left;
        overflow: hidden;
        padding-left: 14px; }
        .request-block .request-body .contact-card .card-title .contact-name {
          float: left;
          font-size: 14px;
          color: #354052;
          line-height: 22px; }
        .request-block .request-body .contact-card .card-title .contact-spec {
          float: left;
          margin: 10px 25px; }

.contact-card {
  width: 30%;
  overflow: hidden;
  list-style: none;
  flex-wrap: wrap;
  flex: 0 1 31%;
  padding: 30px;
  background-color: #fff;
  margin: 0 15px 30px 15px;
  border: 1px solid #dfe2e5;
  border-radius: 4px; }
  .contact-card .header-card {
    overflow: hidden; }
    .contact-card .header-card .image-block {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      overflow: hidden;
      float: left; }
      .contact-card .header-card .image-block img {
        width: 100%; }
    .contact-card .header-card .card-title {
      padding-left: 72px; }
      .contact-card .header-card .card-title .contact-name {
        font-size: 20px;
        color: #354052;
        margin-bottom: 10px;
        font-weight: 600; }
      .contact-card .header-card .card-title .contact-spec {
        color: #7f8fa4;
        font-size: 14px; }
  .contact-card .card-description {
    color: #7f8fa4;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid #dfe2e5;
    padding-bottom: 15px; }
  .contact-card .card-short-info {
    border-bottom: 1px solid #dfe2e5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .contact-card .card-short-info .card-short-info-item {
      flex: 0 1 31%; }
      .contact-card .card-short-info .card-short-info-item h5 {
        font-weight: 600;
        color: #7f8fa4;
        font-size: 12px;
        text-transform: uppercase; }
      .contact-card .card-short-info .card-short-info-item p {
        color: #354052;
        font-size: 14px;
        font-weight: 600; }
  .contact-card .card-footer .delete-card {
    float: right;
    margin-top: 15px;
    margin-bottom: -15px; }

.contact-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media (max-width: 1500px) {
  .contact-card {
    flex: 0 1 47%; } }

.contact-right-block {
  float: right;
  width: 325px;
  background: #fff; }

.contact-information {
  background: #fff;
  padding: 30px;
  overflow: hidden; }
  .contact-information .contact-photo {
    float: left;
    height: 150px;
    width: 150px; }
    .contact-information .contact-photo img {
      width: 100%;
      border-radius: 50%;
      border: 8px solid #eff3f6; }
  .contact-information .contact-text-info {
    padding: 0 30px;
    float: left; }
    .contact-information .contact-text-info h1 {
      margin: 0 0 12px 0;
      font-size: 30px;
      font-weight: 600; }
    .contact-information .contact-text-info .contact-spesalition {
      color: #2a9ef6;
      font-size: 18px; }
    .contact-information .contact-text-info .contact-phone {
      margin-bottom: 25px; }
  .contact-information .other-info {
    float: right;
    width: 300px;
    height: 158px;
    margin-right: -30px;
    border-left: 2px solid #c2cad4; }
    .contact-information .other-info .contact-raiting {
      display: block;
      font-size: 36px;
      font-weight: 700;
      text-align: center; }
    .contact-information .other-info .raiting-description {
      text-align: center;
      margin-bottom: 12px; }
      .contact-information .other-info .raiting-description .your-raiting {
        font-size: 18px; }
    .contact-information .other-info .raiting-form {
      padding: 0 30px; }
    .contact-information .other-info .raiting-input {
      width: 60px; }

.tab-block {
  margin-top: 30px; }
  .tab-block .nav.nav-tabs {
    padding: 0; }
  .tab-block .request-tabs ul li.active a {
    font-size: 15px;
    margin-right: 0; }
  .tab-block .tab-pane {
    background: #fff;
    padding: 30px; }
    .tab-block .tab-pane .sorry-text {
      text-align: center;
      padding: 40px 0;
      line-height: 30px;
      color: #c2cad4; }
      .tab-block .tab-pane .sorry-text span {
        color: #65bcfb;
        text-decoration: underline;
        cursor: pointer; }
        .tab-block .tab-pane .sorry-text span:hover {
          text-decoration: none; }
  .tab-block .comment-item {
    border: 1px solid #dfe2e5;
    overflow: hidden;
    margin-bottom: 15px; }
    .tab-block .comment-item .comment-user {
      overflow: hidden;
      padding: 10px 20px;
      border-bottom: 1px solid #dfe2e5;
      background-color: #fafbfc; }
    .tab-block .comment-item .image-user {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      float: left; }
      .tab-block .comment-item .image-user img {
        width: 100%; }
    .tab-block .comment-item .comment-info {
      float: left;
      margin-left: 30px; }
      .tab-block .comment-item .comment-info .comment-user-name {
        font-size: 16px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 3px;
        display: block;
        cursor: pointer; }
      .tab-block .comment-item .comment-info .comment-date {
        color: #7f8fa4;
        font-size: 13px; }
    .tab-block .comment-item .comment-text {
      margin: 20px;
      font-size: 15px; }
  .tab-block .comments-header {
    overflow: hidden;
    margin-bottom: 15px; }
    .tab-block .comments-header .showHideAddCommentBlock {
      float: right;
      color: #f7bf47;
      cursor: pointer;
      line-height: 29px; }
      .tab-block .comments-header .showHideAddCommentBlock:hover {
        text-decoration: underline; }
    .tab-block .comments-header h4 {
      float: left; }

.login_btn {
  position: absolute;
  top: 30px;
  right: 50px; }

.btn {
  padding-left: 22px;
  padding-right: 22px;
  line-height: 20px;
  display: inline-block;
  background-color: #dbdbdb; }
  .btn:hover {
    text-decoration: none; }

.green-btn {
  background-color: #38B248;
  color: #fff;
  font-weight: 600; }
  .green-btn:hover {
    color: #fff; }

.red-btn {
  background-color: #e53840;
  color: #fff; }
  .red-btn:hover {
    color: #fff; }

.btn-small {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 15px;
  display: inline-block;
  font-size: 12px; }
  .btn-small:hover {
    text-decoration: none; }

h3 {
  font-size: 24px;
  margin: 0 0 30px 0;
  color: #354052; }

label {
  width: 100%;
  font-size: 14px;
  color: #7f8fa4;
  font-weight: 600;
  margin-bottom: 10px; }

input {
  width: 100%;
  border: 1px solid #dfe3e9;
  height: 34px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #354052;
  padding: 0 15px; }

.worker-link {
  float: right;
  color: #2ca0f7;
  text-decoration: underline;
  line-height: 38px; }

.inner-profile {
  background: #fff;
  padding: 30px; }
  .inner-profile .user-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #eff3f6; }
    .inner-profile .user-img img {
      height: 100%;
      margin-left: -7px; }
  .inner-profile .user-info-block {
    margin-left: 20px; }

.user-results-list {
  list-style: none;
  background-color: #fff;
  padding: 15px 30px 15px 30px;
  margin: 0; }
  .user-results-list li {
    overflow: hidden;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #E6EAEE; }
    .user-results-list li .user-img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      float: left; }
      .user-results-list li .user-img img {
        width: 100%; }
    .user-results-list li .user-name {
      float: left;
      margin-left: 30px;
      font-size: 18px;
      line-height: 70px;
      color: #354052; }

.modal-title {
  color: #354052;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-color: #e6eaee; }

.modal-header {
  padding: 30px 30px 10px 30px; }

.modal-body {
  padding: 20px 30px; }
  .modal-body .modal-label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #7f8fa4;
    margin: 10px 0; }
  .modal-body input {
    height: 34px;
    width: 245px;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    padding: 0 10px; }
    .modal-body input[type=checkbox] {
      height: 14px;
      width: 14px;
      border-radius: 2px;
      border: 1px solid #dfe3e9; }

.login .modal-dialog {
  width: 820px; }

.modal-dialog {
  width: 305px; }

.modal-footer {
  background-color: #f0f3f8;
  text-align: center; }

.sign-in-modal {
  width: 820px;
  overflow: hidden; }
  .sign-in-modal .left-block {
    float: left;
    padding: 55px 30px 30px 30px;
    width: 340px; }
    .sign-in-modal .left-block h3 {
      font-size: 24px;
      margin: 0 0 30px 0;
      color: #354052; }
    .sign-in-modal .left-block label {
      width: 100%;
      font-size: 14px;
      color: #7f8fa4;
      font-weight: 600;
      margin-bottom: 10px; }
    .sign-in-modal .left-block input {
      width: 100%;
      border: 1px solid #dfe3e9;
      height: 34px;
      border-radius: 3px;
      margin-bottom: 20px;
      color: #354052;
      padding: 0 15px; }
    .sign-in-modal .left-block .btn {
      width: 100%; }
    .sign-in-modal .left-block .line {
      border-top: 1px solid #e6eaee;
      margin: 20px 0; }
  .sign-in-modal .right-block {
    float: left;
    width: 480px;
    overflow: hidden;
    position: relative; }
    .sign-in-modal .right-block img {
      margin-left: -70px;
      height: 425px; }
    .sign-in-modal .right-block .overlay {
      position: absolute;
      background-color: rgba(106, 112, 112, 0.8);
      width: 100%;
      height: 425px;
      top: 0;
      left: 0; }
    .sign-in-modal .right-block h4 {
      position: absolute;
      color: #fff;
      bottom: 20px;
      left: 30px; }
  .sign-in-modal .logo-modal {
    position: absolute;
    left: 30px;
    top: -22px; }

body {
  font-family: 'Open Sans', sans-serif; }

.main-content {
  flex: 1; }

.inner-block {
  padding: 27px;
  background-color: #EFF3F6; }
