@import 'header/_header';
@import 'left-bar/_left-bar';
@import 'main/_main';
@import 'friends/_friends';
@import 'requests/_requests';
@import 'contacts/_contacts';
@import 'landing/_landing';
@import '_buttons';
@import 'signup';
@import 'profile/_profile';
@import 'search/_search';
@import '_modals';

body{
	font-family: 'Open Sans', sans-serif;
}
.main-content {
	flex: 1;
}
.inner-block {
	padding: 27px;
	background-color: #EFF3F6;
}

/* */
.fr {
	float: right;
}