.main-menu {
  height: 70px;
  border-bottom: 1px solid #dfe2e5; }

.left-menu-item a {
  color: #727679;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  margin-left: 25px; }

.logo {
  text-decoration: none;
  line-height: 70px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 30px;
  display: block;
  color: #354052; }
  .logo:hover {
    color: #354052;
    text-decoration: none; }

.left-menu {
  width: 250px;
  border-right: 1px solid #dfe2e5;
  padding-top: 35px; }

.main-block {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.columns {
  display: flex;
  flex: 1; }

.sub-header {
  height: 50px;
  border-bottom: 1px solid #dfe2e5;
  padding-left: 30px;
  overflow: hidden; }
  .sub-header .counts {
    color: #BFC4D0;
    line-height: 50px;
    float: left; }
  .sub-header .add-new {
    float: right;
    margin-top: 8px; }

.friends-list {
  border: 1px solid #F1F2F4;
  border-radius: 4px;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  list-style: none; }
  .friends-list li {
    padding: 7px;
    border-bottom: 1px solid #F1F2F4;
    overflow: hidden; }
    .friends-list li img {
      width: 70px;
      float: left; }
    .friends-list li .info {
      float: left;
      padding-left: 30px;
      padding-top: 15px; }
    .friends-list li .name {
      color: #4B5262;
      font-weight: bold;
      margin-bottom: 3px; }
    .friends-list li .phone {
      color: #ACB3BD;
      font-size: 12px; }

.form-block {
  padding: 27px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #F1F2F4;
  margin-bottom: 25px; }

.text-area {
  border: 2px solid #F1F2F4;
  border-radius: 4px;
  width: 100%;
  resize: none;
  height: 100px; }

.requests-block {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #F1F2F4; }

.request-tabs ul.nav-tabs {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px; }

.request-tabs ul li {
  margin-bottom: 0px;
  border: 0; }
  .request-tabs ul li.active, .request-tabs ul li:focus {
    margin-bottom: 0px;
    border: 0;
    border-bottom: 2px solid #1F97EE !important;
    margin-bottom: -1px !important; }
    .request-tabs ul li.active a, .request-tabs ul li:focus a {
      border: 0px; }
      .request-tabs ul li.active a:hover, .request-tabs ul li.active a:focus, .request-tabs ul li:focus a:hover, .request-tabs ul li:focus a:focus {
        border: 0 !important; }
  .request-tabs ul li a {
    border: 0;
    color: #B9BFCA; }
    .request-tabs ul li a:hover {
      background-color: #fff;
      border: 0; }

.my-request {
  padding: 17px 27px;
  border: 1px solid #F1F2F4; }
  .my-request h3 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 3px; }
  .my-request .date-request {
    color: #B9BFCA;
    font-size: 13px; }
    .my-request .date-request i {
      display: inline-block;
      margin-right: 4px; }

.contact-card {
  width: 30%;
  overflow: hidden;
  list-style: none;
  flex-wrap: wrap;
  flex: 0 1 31%;
  padding: 30px;
  background-color: #fff;
  margin: 0 15px 30px 15px;
  border: 1px solid #dfe2e5;
  border-radius: 4px; }
  .contact-card .header-card {
    overflow: hidden; }
    .contact-card .header-card .image-block {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      overflow: hidden;
      float: left; }
      .contact-card .header-card .image-block img {
        width: 100%; }
    .contact-card .header-card .card-title {
      padding-left: 72px; }
      .contact-card .header-card .card-title .contact-name {
        font-size: 20px;
        color: #354052;
        margin-bottom: 10px;
        font-weight: 600; }
      .contact-card .header-card .card-title .contact-spec {
        color: #7f8fa4;
        font-size: 14px; }
  .contact-card .card-description {
    color: #7f8fa4;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid #dfe2e5;
    padding-bottom: 15px; }
  .contact-card .card-short-info {
    border-bottom: 1px solid #dfe2e5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .contact-card .card-short-info .card-short-info-item {
      flex: 0 1 31%; }
      .contact-card .card-short-info .card-short-info-item h5 {
        font-weight: 600;
        color: #7f8fa4;
        font-size: 12px;
        text-transform: uppercase; }
      .contact-card .card-short-info .card-short-info-item p {
        color: #354052;
        font-size: 14px;
        font-weight: 600; }
  .contact-card .card-footer .delete-card {
    float: right;
    margin-top: 15px;
    margin-bottom: -15px; }

.contact-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media (max-width: 1500px) {
  .contact-card {
    flex: 0 1 47%; } }

.btn {
  padding-left: 22px;
  padding-right: 22px;
  line-height: 20px;
  display: inline-block; }
  .btn:hover {
    text-decoration: none; }

.green-btn {
  background-color: #38B248;
  color: #fff;
  font-weight: 600; }
  .green-btn:hover {
    color: #fff; }

.red-btn {
  background-color: #e53840;
  color: #fff; }
  .red-btn:hover {
    color: #fff; }

.btn-small {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 15px;
  display: inline-block;
  font-size: 12px; }
  .btn-small:hover {
    text-decoration: none; }

.modal-title {
  color: #354052;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-color: #e6eaee; }

.modal-header {
  padding: 30px 30px 10px 30px; }

.modal-body {
  padding: 20px 30px; }
  .modal-body label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #7f8fa4;
    margin: 10px 0; }
  .modal-body input {
    height: 34px;
    width: 245px;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    padding: 0 10px; }

.modal-dialog {
  width: 305px; }

.modal-footer {
  background-color: #f0f3f8;
  text-align: center; }

body {
  font-family: 'Open Sans', sans-serif; }

.main-content {
  flex: 1; }

.inner-block {
  padding: 27px;
  background-color: #EFF3F6; }
