body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f7f8;
}

a {
  color: #00B7FF;
}
textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}
.answer {
	height: 30px;
	padding: 10px;
	clear: both;
}

.main-menu {
	height: 75px;
	border-bottom: 1px solid #ccd4d3;
	background-color: #fff;
}
.left-menu {
	width: 150px;
	border-right: 1px solid #ccd4d3;
	height: 700px;
	background-color: #fff;
	float: left;
}
.right-block {
	float: right;
	width: 250px;
	border-left: 1px solid #ccd4d3;
	height: 700px;
	background-color: #fff;
}
.user-img {
	height: 90px;
	border-bottom: 1px solid #ccd4d3;
}
.user-img img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-left: 54px;
	margin-top: 24px
}
.left-menu-item {
	height: 90px;
	border-bottom: 1px solid #ccd4d3;
	padding-top:30px;
}
.left-menu-item a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.left-menu-item p {
	color:#ccd4d3;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.left-menu-item i {
	margin-left:70px;
	color:#ccd4d3;
	margin-bottom: 5px;
}
.main-content{
	padding: 40px 300px 50px 200px;
	margin: 0 -250px 0 -150px;
}
.page-title {
	margin-top:0px;
	font-size: 18px;
	color: #2f302f;
	float:left;
}
.header-block {
	overflow: hidden;
	margin-bottom: 20px;
}
.logo{
	float:left;
	padding-top: 25px;
	margin-left: 40px;
	color:#677777;
	font-size:18px;
}
.logo:hover{
	text-decoration: none;
	color:#677777;
}

.btn{
	border: 1px solid #50C9C4;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	text-transform: uppercase;
	color: #50C9C4;
	border-radius: 5px;
}
.btn:hover{
	color:#50C9C4;
}
.add-new{
	float:right;
}
.contact-list {
	overflow: hidden;
	padding: 0px;
}
.contact-card {
	list-style:none;
	width:280px;
	float: left;
	height:380px;
	border-radius: 5px;
	margin-right: 50px;
	background-color:#fff;
}
.image-block {
	height: 200px;
	overflow: hidden;
}
.contact-card img {
	width: 70%;
	margin-top: -35px;
	margin-left: 45px;
	fill: #ccd4d3;
}
.conatact-info {
	padding: 0 30px 30px 30px;
}
.contact-name {
	font-size: 17px;
	color: #677777
}
.contact-spec{
	color:#50C9C4;
	font-size: 13px;
}
.contact-phone {
	font-size: 12px;
	color:#ccd4d3;
}