<div class="sign-in-modal"> 
    	<div class="logo-modal">
    		<img src="public/images/1.png" alt="">
    	</div>
		<div class="left-block">
			<h3>Sign In</h3>
			<form name="loginForm" novalidate>
				<label for="email" >Email Address</label>
				<input type="email" id="email" name="email" placeholder="Email" ng-model="$ctrl.login.email" required>
				<p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block error">Enter a valid email.</p>
				<label for="password">Password</label>
				<input type="pasword" id="password" placeholder="Password" ng-model="$ctrl.login.password" required>
				<button class="green-btn btn" ng-click="$ctrl.login(loginForm.$invalid, loginForm.$pristine )" ng-disabled="(loginForm.$invalid == true) || (loginForm.$pristine == true)">Sign in</button>

				<!-- <button class="green-btn btn" ng-click="$ctrl.loginFB() " >Login with Facebook</button> -->

				<div class="line"></div>
				<button class="btn" ui-sref="signUp">Create Account</button>
			</form>
		</div>
		<div class="right-block">
			<img src="public/images/2.jpg" alt="">
			<div class="overlay"></div>
			<h4>Welcome to Profee!</h4>
		</div>
    </div>