<div class="sign-in-modal"> 
    	<div class="logo-modal">
    		<img src="public/images/1.png" alt="">
    	</div>
		<div class="left-block">
			<h3>Sign In</h3>
			<label for="email">Email Address</label>
			<input type="text" id="email" placeholder="Email" ng-model="$ctrl.login.email">
			<label for="password">Password</label>
			<input type="pasword" id="password" placeholder="Password" ng-model="$ctrl.login.password">
			<button class="green-btn btn" ng-click="$ctrl.login()">Sign in</button>
			<button class="green-btn btn" ng-click="$ctrl.loginFB()">Login with Facebook</button>
			<div class="line"></div>
			<button class="btn" ui-sref="signUp">Create Account</button>
		</div>
		<div class="right-block">
			<img src="public/images/2.jpg" alt="">
			<div class="overlay"></div>
			<h4>Welcome to Profee!</h4>
		</div>
    </div>