<div class="sign-in-modal"> 
	<div class="left-block">
		<h2>Ласкаво просимо до Profee</h2>
		<p>Швидкий пошук потрібних спеціалістів, по рекомендаціям ваших друзів та знайомих.</p>
		<ul>
			<li>
				<span>
					<i class="icon-communication-026 u-line-icon-pro"></i>
				</span>
			</li>
		</ul>
	</div>
	<div class="right-block">
		<div class="border-block">
			<h1>Вхід до аккаунту</h1>
			<form name="loginForm" novalidate>
				<div class="input-group">
					<span class="input-group-addon"></span>
					<input type="text" placeholder="Емейл адреса" ng-model="$ctrl.login.email" required>
				</div>
				<p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block error">Enter a valid email.</p>
				<div class="input-group">
					<span class="input-group-addon"></span>
					<input type="password" placeholder="Пароль" ng-model="$ctrl.login.password" required>
				</div>
				<button class="sign-in-btn " ng-click="$ctrl.login(loginForm.$invalid, loginForm.$pristine )" ng-disabled="(loginForm.$invalid == true) || (loginForm.$pristine == true)">Увійти</button>
			

			

			<!-- <button class="green-btn btn" ng-click="$ctrl.loginFB() " >Login with Facebook</button> -->

		</form>
		</div>
		<div class="help-block">
			<p>Не маєте акаунту? <a href="/#!/signup">Зареєструйтеся</a></p>
		</div>
</div>