<div class="header-block">
	<h2 class='page-title'>Friends list</h2>
	<span class="btn add-new" ng-click="$ctrl.open()">Add friend</span>
</div>

<ul class="friends-list">
    <li ng-repeat="friend in $ctrl.friendsList">
        {{friend.name}}
    </li>
</ul>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add new friend</h3>
    </div>
    <div class="modal-body" id="modal-body">
       <input ng-model="$ctrl.friend.name" placeholder="Friend's name">
       <input ng-model="$ctrl.friend.phone" placeholder="Friend's phone">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>
