<div class="sub-header">
    <p class="counts">{{$ctrl.friendsList.length}} friends</p>
</div>
<div ng-show="$ctrl.listRequest.length > 0">
    <h3>Запросы в друзья</h3>
    <div class="" ng-repeat="req in $ctrl.listRequest">
        <span style="float: right" class="btn green-btn" ng-click="$ctrl.accept(req._id)">Подтвердить</span>
        <p>{{req.useridinvite.name || req.useridinvite.email}}</p>
    </div>
</div>

<div class="inner-block">
    <ul class="friends-list">
        <li ng-repeat="friend in $ctrl.friendsList">
            <img src="../public/images/user.jpg">
            <div class="info">
                 <p class="name" ui-sref="main.friend({id : friend._id})" style="cursor: pointer;">
                    {{friend.name || friend.email}}
                </p>
                <p class="phone">{{friend.phone}}</p>
                
            </div>
            <span class="btn btn-danger pull-right" ng-click="$ctrl.deleteFriend(friend._id)">delete from friends</span>
            <!-- {{friend._id}}    -->
        </li>
    </ul>
</div>



<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add new friend</h3>
    </div>
    <div class="modal-body" id="modal-body">
       <input ng-model="vm.friend.name" placeholder="Friend's name">
       <input ng-model="vm.friend.phone" placeholder="Friend's phone">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
