<div class="QBlock"> 
	<h3 class="question">{{$ctrl.selectedQuestion[0].q}}</h3>
	<form>
	  	<select name="multipleSelect" id="multipleSelect" ng-model="$ctrl.firstday" >
	      <option value="ПН">ПН</option>
	      <option value="ВТ">ВТ</option>
	      <option value="СР">СР</option>
	      <option value="ЧТ">ЧТ</option>
	      <option value="ПТ">ПТ</option>
	      <option value="СБ">СБ</option>
	      <option value="ВС">ВС</option>
	    </select>

	    <select name="multipleSelect" id="multipleSelect" ng-model="$ctrl.lastday" >
	      <option value="ПН">ПН</option>
	      <option value="ВТ">ВТ</option>
	      <option value="СР">СР</option>
	      <option value="ЧТ">ЧТ</option>
	      <option value="ПТ">ПТ</option>
	      <option value="СБ">СБ</option>
	      <option value="ВС">ВС</option>
	    </select>
		<span class="btn green-btn" ng-click="$ctrl.saveAnswer()">Ответить</span>
	</form>
</div>