<div class="inner-block">
	<div class="form-block request-form">
		<h2>Спросите друзей о нужном специалисте:</h2>
		<form>
			<textarea ng-model="$ctrl.request.text" class="text-area"></textarea>
			<button ng-click="$ctrl.save()" class="btn green-btn fr">Send</button>
		</form>
	</div>

	<div class="requests-block">
		<uib-tabset active="active" class="request-tabs">
			<uib-tab index="0" heading="Мои запросы">
				<div ng-repeat="req in $ctrl.requestsList" class="my-request">
					<div class="req-buttons">
						<span ng-click="$ctrl.change(req)" class="btn edit">Редактировать</span>
						<span ng-click="$ctrl.deleteRequest(req._id)" class="btn delete">Удалить</span>
					</div>
					<div class="request-avtor-img">
						<img ng-src="{{req.userId.img}}" alt="">
					</div>
					<div class="request-main-info">
						<div class="req-user-info">
							<h4 class="req-user-name">{{req.userId.name}}</h4>
							<span class="date-request"><i class="glyphicon glyphicon-calendar"></i>{{req.requestDate | date}}</span>
						</div>
						<div class="req-text" ui-sref="main.request({reqId: req._id})">
							<p>{{req.text}}</p>
						</div>
						
					</div>
				</div>
			</uib-tab>
			<uib-tab index="1" heading="Запросы друзей">
				<div ng-repeat="req in $ctrl.friendsRequestsList" class="my-request">
					<div class="req-buttons">
						<span ui-sref="main.request({reqId: req._id})" class="btn edit">Ответить</span>
					</div>
					<div class="request-avtor-img">
						<img ng-src="{{req.userId.img}}" alt="">
					</div>
					<div class="request-main-info">
						<div class="req-user-info">
							<h4 class="req-user-name">{{req.userId.name}}</h4>
							<span class="date-request"><i class="glyphicon glyphicon-calendar"></i>{{req.requestDate | date}}</span>
						</div>
						<div class="req-text" ui-sref="main.request({reqId: req._id})">
							<p>{{req.text}}</p>
						</div>
						
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Отредактируйте ваш запрос</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <textarea class="text-area" ng-model="vm.request.text">{{vm.request.text}}</textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
