<div class="inner-block">
	<div class="request-block">
		<div class="reqest-header">
			<h4>{{$ctrl.request.text}}</h4>
		</div>
		<div class="request-body">
			<span ng-click="$ctrl.openModalfromNet()">Выбрать из сети</span>
			<span>Предложить новый контакт</span>
		</div>
        <div class="my-answer">
            <ul class="contact-list">
                <li ng-repeat="contact in $ctrl.selectedContacts" class="contact-card">
                  <div class="header-card">
                      <div class="image-block">
                        <img src="public/images/vectorpaint.png">
                      </div>
                      <div class="card-title">
                        <h5 class="contact-name">{{contact.name}}</h5>
                        <p class="contact-spec">{{contact.spec}}</p>
                      </div>
                  </div>
                  <p class="card-description">I am a highly-skilled software engineer and computer 
                    science graduate with 25 years of professional experience. 
                    Software development is my greatest skill and I have an 
                    incredible attention to detail and perseverance in getting 
                    the job done, and done well.</p>
                  <div class="card-short-info">
                    <div class="card-short-info-item">
                      <h5>Rainting</h5>
                       <p></p>
                    </div>
                    <div class="card-short-info-item">
                       <h5>Rate</h5>
                       <p>4$</p>
                    </div>
                    <div class="card-short-info-item">
                       <h5>Location</h5>
                       <p>Kiev</p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <span class="btn btn-small red-btn delete-card">Delete</span>
                  </div>
                <!--   <div class="conatact-info">
                  <p class="contact-phone" >{{contact.phone}}</p>
                </div> -->
                </li>
              </ul>
        </div>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add new friend</h3>
    </div>
    <div class="modal-body" id="modal-body">        
    <div >
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading='te' ng-repeat=" item in $ctrl.contacts">
            <ul>
                <li ng-repeat="p in  item ">
                    <input type="checkbox" ng-model="p.selected">
                    <p>{{p.name}}</p>
                </li>
            </ul>
        </div>
    </uib-accordion>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>
