<div class="inner-block">
	<div class="request-block">
		<div class="reqest-header">
			<h4>{{$ctrl.request.text}}</h4>
		</div>
		<div class="request-body">
			<span ng-click="$ctrl.openModalfromNet()">Выбрать из сети</span>
			<span>Предложить новый контакт</span>
		</div>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add new friend</h3>
    </div>
    <div class="modal-body" id="modal-body">        
    {{$ctrl.contacts}}
    <div ng-repeat="item in $ctrl.contacts">
    {{item}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>
